<h1>New Alias</h1>
<h4 style="color: blue">Current Instance ID: <%= @instance.id %></h4>
<%= form_with model: @alias do |f| %>
  <%= render 'errors', model: f.object %>
  <%= f.label :instance_id, 'Instance ID' %>
  <%= f.text_field :instance_id, placeholder: 'Instance ID' %><br>
  <%= f.label :value %>
  <%= f.text_field :value, placeholder: 'Value' %><br>
  <%= f.submit %>
<% end %>
