<h1>Metadata: <%= @metadata.uri %></h1>
<h2 style="color: orange">Alias: <%= @instance.alias.value || 'Not Set' %></h2>
<% if @metadata.data[:error].present? %>
  <h3 style="color: red">Error: <%= @metadata.data[:error] %></h3>
<% end %>
<table>
  <thead>
    <th>Metadata Value</th>
  </thead>
  <tbody>
    <% @metadata.data[:values].each do |data| %>
      <tr>
        <td>
          <%= link_to(data.fetch(:text), ec2_metadata_fragment_path(data.fetch(:path))) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add Alias', new_alias_path %>
